.biology {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.biology > div {
	display: flex;
	align-items: center;
	gap: 20px;
	background: #f1efef;
	padding: 35px;
	border-radius: 5px;
}
.biology > div > span > p {
	font-size: 20px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 5px;
}

@media (width <= 1274px) {
	.biology {
		flex-direction: row;
	}
	.biology > div {
		padding: 25px;
	}
}
@media (width <= 1024px) {
	.biology > div {
		padding: 15px;
	}
}
