.chart {
	display: flex;
	gap: 100px;
}
.left-chart {
	display: flex;
	flex-direction: column;
	flex: 3;
	gap: 50px;
}
.right-chart {
	flex: 1;
}
.chart-bottomInfos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 300px;
}
.bottomInfosDiv {
	width: 30%;
	border-radius: 5px;
}
.bottomInfosDiv p {
	color: #fff;
	font-weight: 500;
}

@media (width <= 1620px) {
	.chart {
		flex-direction: column-reverse;
	}
}
@media (width <= 1024px) {
	.chart {
		flex-direction: column-reverse;
	}
}
