.chart {
	display: flex;
	gap: 100px;
}
.left-chart {
	display: flex;
	flex-direction: column;
	flex: 4;
	gap: 50px;
}
.chart-bottomInfos {
	display: flex;
	flex-direction: row;
	gap: 50px;
}
.bottomInfosDiv {
	flex: 1;
	height: 320px;
	border-radius: 5px;
	padding: 10px 20px;
}
.bottomInfosDiv p {
	color: #fff;
	font-weight: 500;
}
