.bottomInfosDiv.score {
	position: relative;
	background: #f1efef;
	padding: 10px 20px;
}

.bottomInfosDiv.score .title {
	position: absolute;
	color: #000;
}
.scoreText {
	position: absolute;
	top: 40%;
	left: 40%;
	color: #282d30;
	font-weight: 700;
	font-size: 28px;
}
.scoreText p {
	font-weight: 700;
	font-size: 20px;
	color: #74798c;
	width: 80px;
	margin: 0;
}
